.card-item {
  height: 400px;
  width: 750px !important;
  background-color: red;
  /* transition: 1s linear !important; */
}

/* .slick-track {
  transition: .3s linear;
} */

.slick-slide.slick-current {
  opacity: 1;
}

.slick-slide {
  opacity: .5;
}
